

body {
    /* background: rgb(254,209,255);
    background: linear-gradient(34deg, rgba(254,209,255,1) 8%, rgba(194,255,246,1) 54%, rgba(158,255,148,1) 87%, rgba(243,255,61,1) 100%); */
}


#textContainer {
    text-shadow: 3px 3px 7px #000000cc;
}

@media only screen and (max-width: 768px) {
    #textContainer {
        text-shadow: 1px 1px 1px #000000cc;
    }
}





