
#content {
    display: flex;
    flex-direction: column;
}


#textContainer {
    text-shadow: 2px 2px 4px #000000;
}



/* #formCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
} */

#infoSection{
    border: 1px solid black;
}

#infoName {
    display: flex;
    flex-direction: row;
}

#firstNameSection, #lastNameSection, #emailSection, #majorSection, #yearSection {
    display: flex;
    flex-direction: column;
}



